.button {
  border-radius: 8px;
  padding: 3px 5px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 0px 2px;
  font-size: 20px;
  &.-primary {
    background-color: #289c38 !important;
    color: white;
    i {
      background-color: #289c38;
    }
    &:disabled {
      background-color: #1c3826 !important;
      i {
        background-color: #1c3826;
      }
    }
  }
}
.p-dialog-footer {
  .button {
    padding: 3px 8px;
    margin: 0px 10px;
  }
}

body {
  &.theme-dark {
    .button {
      &.-primary {
      }
    }
  }
}

.voc-multiselect {
  background-color: inherit;
  font-size: 20px;
  .p-multiselect-items-wrapper {
    max-height: 250px;
    min-width: 120px;
    scrollbar-color: #5f5f5f #222627;
    scrollbar-width: thin;
  }
}