.dashboard {
  .dashboard-item {
    border: 4px solid #58acff;
    border-radius: 8px;
    padding: 3px 5px;
    margin: 2px 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
}

$dark-main-color: #289c38;
$highlight-color: #1c3826;
$dark-background-color: #222627;
$dark-header-color: #212121;

body {
  &.theme-dark {
    background-color: $dark-header-color;
    color: white;
    .header {
      a {
        color: $dark-main-color;
      }
      .breadcrumbs {
        color: $dark-main-color;
      }
    }
    .voc-data, .voc-data * {
      background-color: $dark-background-color;
      color: white;
    }
    input {
      background-color: $dark-background-color;
    }
    .dashboard {
      .dashboard-item {
        border: 4px solid $dark-main-color;
      }
    }
    .voc-container {
      .left-menu {
        .menu-item {
          &.-selected {
            background-color: $highlight-color;
          }
        }
      }
      .section-title {
        color: $dark-main-color;
      }
      .p-tabview.p-component {
        .p-tabview-selected {
          a {
            background-color: $highlight-color;
          }
        }
      }

      .projects-list {
        .project {
          border: 2px solid green;
          border-radius: 8px;
          padding: 5px;
          width: auto;
          display: inline-block;
          cursor: pointer;
          div {
            display: inline-block;
            margin: 3px;
          }
          .title {
            font-weight: bold;
          }
        }
      }

      .word-form {
        .form-row {
          padding: 10px;
          display: grid;
          &.-cols-6 {
            grid-template-columns: 5% 20% 5% 20% 25% 25%;
          }
          &.-cols-5 {
            grid-template-columns: 20% 5% 20% 20% 20%;
          }
          &.-cols-2 {
            grid-template-columns: 50% 50%;
          }
          .form-field {
            margin: auto 0px;
            font-size: 20px;
            .field-value {
              input {
                border: 1px solid white;
                padding: 1px 2px;
                max-width: 90%;
              }
              textarea {
                resize: none;
                vertical-align: middle;
              }
            }
          }
          i.fa-play {
            color: green;
          }
          i.fa-arrows-rotate {
            color: red;
          }
          i {
            cursor: pointer;
            width: 21px;
            height: 21px;
            border: 1px solid gray;
            margin: 0px 2px;
            vertical-align: text-bottom;
            display: inline-block;
          }
          .move-word-placeholder {
            display: inline-block;
            width: 23px;
          }
          .fa-plus {
            color: green;
          }
          .fa-minus {
            color: red;
          }
        }
      }
      .phrase-form {
        .form-row {
          padding: 10px;
          display: grid;
          &.-cols-2 {
            grid-template-columns: 20% 80%;
          }
          .field-label {
            text-align: right;
            padding: 0px 12px;
            vertical-align: middle;
          }
          .field-value {
            input {
              border: 1px solid white;
              padding: 1px 2px;
            }
            textarea {
              resize: none;
              vertical-align: middle;
            }
          }
          i.fa-play {
            color: green;
          }
          i.fa-arrows-rotate {
            color: red;
          }
          i {
            cursor: pointer;
            width: 21px;
            height: 21px;
            border: 1px solid gray;
            margin: 0px 2px;
            vertical-align: text-bottom;
            display: inline-block;
          }
          .move-word-placeholder {
            display: inline-block;
            width: 23px;
          }
          .fa-plus {
            color: green;
          }
          .fa-minus {
            color: red;
          }
        }
      }
    }
    .items-list {
      font-size: 23px;
      color: white;
      .item-row-header {
        .title {
          background-color: $highlight-color;
        }
      }
      &.items-header {
        .item-row {
          background-color: inherit;
        }
      }
      .item-row, .item-row:nth-child(even), .item-row:hover {
        background-color: inherit;
        border-bottom: solid 1px #ffffff1a;
        margin: 0px 0px 7px 0px;
        &:hover {
          background-color: inherit;
        }
      }
      &.-add-players {
        .item-row, .item-row:nth-child(even) {
          background-color: $dark-background-color;
        }
      }
      &.-words-list {
        .-word-row {
          background-color: #4c4949;
          .item-field {
            background-color: #4c4949;
          }
        }
        .-rows-5 {
          grid-template-columns: 23% 23% 23% 23% 8%;
        }
        .-rows-6 {
          grid-template-columns: 5% 23% 20% 21% 23% 8%;
        }
        i.fa-circle-play {
          width: 20px;
          height: 20px;
          color: green;
        }
        .item-field {
          .search-result {
            display: inline-block;
            background-color: #c55604;
          }
          .search-result-formatted {
            background-color: inherit;
          }
        }
      }
      &.-phrases-list {
        .-rows-5 {
          grid-template-columns: 5% 35% 35% 20% 5%;
        }
        i.fa-circle-play {
          width: 20px;
          height: 20px;
          color: green;
        }
        .item-field {
          .search-result {
            display: inline-block;
            background-color: #c55604;
          }
          .search-result-formatted {
            background-color: inherit;
          }
        }
      }
    }
    .p-dialog {
      background-color: $dark-background-color;
      .p-dialog-header, .p-dialog-content , .p-dialog-footer {
        background-color: $dark-background-color;
        .p-dialog-title {
          color: $dark-main-color;
        }
      }
      .p-dialog-content {
        color: white;
      }
    }
    .filter-header {
      .filter-head {
        color: $dark-main-color;
      }
    }
    .locale-switcher {
      background-color: $dark-header-color;
    }
    .locale-switcher-panel {
      .p-dropdown-item {
        background-color: $dark-background-color;
      }
    }
    .profile-form {
      border-bottom: 1px solid #ffffff1a;
      margin: 20px 0px;
      .form-title {
        color: $dark-main-color;
      }
    }
    .register-form {
      .form-fields {
        .form-row {
          .form-field {
            input[type="text"], input[type="password"] {
              background-color: $dark-background-color;
              border: 1px solid #ffffff;
            }
          }
        }
      }
      .login-error {
        color: red;
      }
    }
    .add-item {
      color: white;
      .add-item-field {
        margin: 5px 0px;
        &:nth-child(even) {
          background-color: inherit;
        }
        .field-value {
          input[type="text"], input[type="password"] {
            background-color: $dark-background-color;
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
}
.voc-container {
  display: grid;
  grid-template-columns: 15% 85%;

  .left-menu {
    margin: 0px 10px;
    padding: 30px 15px 0px 15px;
    border-right: 1px solid #c5c3c3;
    font-size: 25px;
    .user-name {
      margin-bottom: 15px;
    }
    .menu-item {
      padding: 12px 16px;
      border-radius: 8px;
      &.-selected {
        background-color: gray;
      }
      &.-logout {
        cursor: pointer;
        margin-top: 15px;
      }
    }
  }
  .section-title {
    font-size: 30px;
    font-weight: bold;
    margin: 7px 2px;
  }
  .profile-form {
    .form-title {
      font-size: 21px;
      font-weight: bold;
      text-align: center;
    }
  }
  .p-tabview.p-component {
    .p-tabview-selected {
      a {
        background-color: gray;
      }
    }
  }
}

table.items-list {
  margin: 10px 0px;
  thead {
    th {
      border: 1px solid black;
      background-color: gray;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #dbdbdb;
      }
      td {
        border: 1px solid black;
        padding: 2px 4px;
      }
    }
  }
}
div.items-list {
  margin: 10px 2px;
  &.items-header {
    .item-row {
      background-color: white;
      &:hover {
        background-color: #f9f2f2;
      }
    }
  }
  .item-row-header {
    .title {
      background: #878686;
      color: white;
      font-weight: bolder;
      padding: 2px 4px;
    }
  }
  .item-row {
    display: grid;
    cursor: pointer;
    &:hover {
      background-color: #f9f2f2;
    }
    &.-rows-2 {
      grid-template-columns: 50% 50%;
    }
    &.-rows-3 {
      grid-template-columns: 40% 40% 20%;
    }
    &.-rows-4 {
      grid-template-columns: 30% 30% 30% 10%;
    }
    &.-rows-5 {
      grid-template-columns: 10% 25% 25% 30% 10%;
    }
    &:nth-child(even) {
      background-color: #e1e0e0;
    }
    .item-header {
      font-weight: bold;
      text-align: left;
    }
    .item-action {
      i {
        cursor: pointer;
        &.fa-trash {
          color: red;
        }
      }
    }
  }
  &.-players-list {
    .item-row {
      grid-template-columns: 30% 10% 10% 10% 30% 10%;
    }
  }
  &.-add-players {
    .item-row {
      grid-template-columns: 10% 35% 35% 10% 10%;
    }
  }
  .items-list-actions {
    display: grid;
    &.-actions-1 {
      grid-template-columns: 100%;
    }
  }
  &.-words-filter {
    .item-row {
      &.-rows-5 {
        grid-template-columns: 20% 20% 20% 20% 20%;
      }
    }
  }
}
.add-item {
  max-width: 700px;
  margin: 10px auto;
  .add-item-field {
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: repeat(2, 350px);
    &:nth-child(even) {
      background-color: #e1e0e0;
    }
    .field-title {
      text-align: right;
      padding: 2px 12px;
    }
    .field-value {
      input[type="text"], input[type="password"] {
        border: 1px solid black;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        padding: 0px 2px;
      }
      .p-radiobutton {
        vertical-align: baseline;
      }
    }
  }
}

.filter-header {
  display: grid;
  &.-cols-5 {
    grid-template-columns: repeat(5, 20%);
  }
  &.-cols-6 {
    grid-template-columns: 14% 14% 14% 14% 14% 10%;
  }
  .filter-head {
    input[type="text"], input[type="number"] {
      width: 90%;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 1px 4px;
      &::placeholder {
        color: #b7b3b3;
      }
    }
  }
  &.-add-players {
    grid-template-columns: 5% 17% 17% 17% 17% 17% 10%;
    .teams-select {
      max-width: 120px;
      .p-multiselect-label {
        padding: 0px 10px;
      }
    }
  }
  &.-add-teams {
    grid-template-columns: 5% 40% 40% 10%;
    .teams-select {
      max-width: 120px;
      .p-multiselect-label {
        padding: 0px 10px;
      }
    }
  }
}
.breadcrumbs {
  padding: 10px 25px;
  .breadcrumb-item {
    display: inline-block;
  }
}

.register-form {
  .form-fields {
    max-width: 700px;
    margin: 10px auto;
    background: #e5e5e5;
    .form-row {
      display: grid;
      grid-template-columns: 50% 50%;
      .form-field {
        padding: 5px 18px;
        label {
          float: right;
        }
        input {
          border: 1px solid black;
          border-radius: 5px;
          background-color: white;
        }
      }
    }
  }
  .switch-mode {
    text-align: center;
    button {
      cursor: pointer;
    }
  }
  .login-error {
    text-align: center;
    font-weight: bold;
    color: red;
  }
}
.header {
  .header-components {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    padding: 0px 25px;
    .header-item {
      img {
        width: 20px;
        vertical-align: middle;
      }
    }
    .header-item:not(:first-child) {
      text-align: center;
      .logout {
        display: inline-block;
        padding: 0px 10px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .theme-switcher {
      cursor: pointer;
    }
  }
}
.locale-option {
  width: 24px;
  height: 24px;
  &.-lang-ua {
    background-image: url(/icons/ua.png);
  }
  &.-lang-en {
    background-image: url(/icons/en.png);
  }
}

.form-fields {
  .field-value {
    input {
      font-size: 23px;
    }
  }
}

@media print {
  :not(.print-section) {
    visibility: hidden;
    max-height: 0px;
  }
  .voc-data, .voc-data * {
    background-color: white;
    color: black;
  }
  .print-section, .print-section * {
    visibility: visible;
    max-height: 2500px;
    background-color: white !important;
    color: black !important;
  }
}